modules = ["postgresql-16", "python-3.11"]

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "libxcrypt", "mypy", "python313Packages.flake8", "u-root-cmds", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "pytest"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "app"

[[workflows.workflow]]
name = "pytest"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run pytest -v"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run python main.py"

[workflows.workflow.metadata]
outputType = "console"
